body {
    background-color: black;
}

.barraSuperior {
    display: grid;
    place-items: center;
    background-color: #1e1f27;
}

ul {
    font-family: "Chivo Mono", monospace;
    display: flex;
    gap: 72px;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #c9d7fd;
    padding: 10px;
    transition: 0.5s ease;
}

ul:hover li a {
    color: #ee00ff;
}

ul:hover li a:not(:hover) {
    color: #ee00ff;
    opacity: 0.3;
    filter: blur(0.9px);
}

#planoDiario,#planoMensal,#planoAnual {
    font-size: 23px;
    font-family: "Chivo Mono", monospace;
    width: 400px;
    height: 380px;
    margin: 3px;
    display: grid;
    place-items: center;
    background-color: #c9d7fd;
    border-radius: 12px;
}